#header{
    display: flex;
    justify-content: space-around;
    background-color: brown;
    padding: 1rem;
    color: white;
    font-family: 'Jockey One', sans-serif;
    box-shadow: 0 7px 20px 0 rgb(31, 30, 30), 0 6px 20px rgb(31, 30, 30);
}

#main{
    background-image: url("../images/ring.png");
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 50rem;
}
#instructor{
    text-align: center;
    color: white;
    font-family: 'Jockey One', sans-serif;
}